@font-face {
    font-family: "PoppinsSemiB";
    src: url("../fonts/Poppins-SemiBold.ttf");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "PoppinsSemiB", sans-serif;
    background-color: #292626;
}

.container {
    height: 50vh; /* Utilisation de la hauteur de la fenêtre */
    display: flex;
    justify-content: center;
    align-items: center;
}

.connect-container {
    background-color: #201e1e; /* Fond blanc pour le conteneur du formulaire */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.pseudoH1, .passwordH1 {
    color: #35509c;
    font-size: 18px;
    margin-bottom: 10px; /* Espacement entre les étiquettes et les champs de saisie */
}

.user_pseudo, .user_password {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
    text-align: center;
    color: #fefefe;
    background-color: #292626;
    border: none;
    border-radius: 5px;
    border-bottom: #35509c solid 2px;
    height: 3vh;
    text-size-adjust: 3vh;
}

.connexion {
    padding: 12px 20px;
    background-color: #35509c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 100%; /* Largeur maximale pour s'adapter au conteneur */
}

.connexion:hover {
    background-color: #2a4079; /* Changement de couleur au survol */
}

.sign-up {
    margin-top: 5px;
    text-align: center; /* Centrer le lien */
}

.signp {
    color: white;
    font-size: 16px;
    margin-bottom: 5px;
}

.signin {
    padding: 12px 20px;
    background-color: #35509c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none; /* Supprimer le soulignement du lien */
}

.signin:hover {
    background-color: #2a4079; /* Changement de couleur au survol */
}
